html, body {
  margin: 0;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  background: #f2e9dc;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  background: #808f85;
  max-width: 500px;
  width: 100%;
}

.input-container {
  padding-left: 0;
  padding-right: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 18px;
}

input:focus {
  outline: 2px solid #cfd11a;
}

h1 {
  text-align: center;
  margin: 10px 0;
  font-size: 3rem;
  color: #595959;
}

button {
  padding: 10px 15px;
  margin: 10px 0;
  background: #91c499;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
}

button:hover {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.35);
}

input, button, .container {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.35);
  border: transparent;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.error {
  color: #c93a3a;
  font-weight: 700;
  margin: 0;
}
